.aa{
    width: 0px;
    height: 0px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    transition: .5s ease;
    &.t{
        width: 300px;
        height: 200px; 
    }
    p{
        width: 30%;
        
    }
    img{
        width: 50%;
    }
}